body {
    font-family: 'Segoe UI', sans-serif;
    background: #f5f9ff;
    color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .calculator {
    background: #ffffff61;
    border-radius: 1.5rem;
    box-shadow: 0 10px 25px rgb(30 136 229 / 72%);
    width: 100%;
    max-width: 400px;
    padding: 1.5rem;
  }
  
  .display {
    background: #ffffff;
    padding: 20px;
    font-size: 2rem;
    border-radius: 1.5rem;
    text-align: right;
    border: 2px solid #1e88e5;
    color: #1e88e5;
    margin-bottom: 15px;
    overflow-x: auto;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  .btn {
    font-size: 1.3rem;
    font-weight: 600;
    padding: 20px;
    background: #64b9ffa3;
    color: #000405  ;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.2s ease;
  }
  
  .btn:hover {
    background: #bbdefb;
  }
  
  .btn[data-action="+"] ,
  .btn[data-action="-"] ,
  .btn[data-action="*"] ,
  .btn[data-action="/"] {
    background-color: #1e88e5;
    color: #fff;
  }
  
  .btn[data-action="clear"],
  .btn[data-action="="] {
    background-color: gold;
    color: #fff;
  }
  
  .btn[data-action="M+"],
  .btn[data-action="M-"],
  .btn[data-action="MR"],
  .btn[data-action="MC"],
  .btn[data-action="square"],
  .btn[data-action="sqrt"]  {
    background-color: #209afe;
    color: #fff;
  }
  
  @media (max-width: 600px) {
    .btn {
      padding: 15px;
      font-size: 1rem;
    }
  
    .display {
      font-size: 1.5rem;
    }
  }
  