body {
    font-family: 'Segoe UI', sans-serif;
    background: #f5f9ff;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .calculator {
    background: #fff;
    border-radius: 1rem;
    box-shadow: 2px .5rem 1.5rem rgba(2, 131, 244, 0.795);
    width: 100%;
    max-width: 20rem;
    padding: 1.5rem;
  }
  
  .display {
    background: #fff;
    padding: 1rem;
    font-size: 2rem;
    border-radius: .5rem;
    text-align: right;
    border: 2px solid #1e88e5;
    color: #003d71;
    margin-bottom: 15px;
    overflow-x: auto;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
  }
  
  .btn {
    font-size: 1rem;
    font-weight: 600;
    padding: .7rem 1rem;
    background: #007be0e9;
    color: #fff;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    transition: 0.2s ease;
  }
  
  .btn:hover {
    background: #0159a0;
  }
  
  .btn[data-action="+"] ,
  .btn[data-action="-"] ,
  .btn[data-action="*"] ,
  .btn[data-action="/"] ,
  .btn[data-action="mod"] ,
  .btn[data-action="square"] ,
  .btn[data-action="sqrt"] ,
  .btn[data-number="00"] {
    background-color: #839702;
    color: #fff;
  }
  
  .btn[data-action="clear"]{
    background-color: orange;
    color: #fff;
  }
  .btn[data-action="="] {
    background-color: rgba(0, 143, 5, 0.922);
    color: #fff;
  }

  .btn[data-action="del"] {
    background-color: rgba(250, 45, 4, 0.762);
    color: #fff;
  }
  
  .btn[data-action="m+"],
  .btn[data-action="m-"],
  .btn[data-action="mr"],
  .btn[data-action="mc"] {
    background-color: #0159a0;
    color: #fff;
  }
  
  @media (max-width: 600px) {
    .btn {
      padding: 15px;
      font-size: 1rem;
    }
  
    .display {
      font-size: 1.5rem;
    }
  }
  

  .span-col-two {
    grid-column: span 2;
  }
  .span-row-two {
    grid-row: span 2;
  }